/* This is Boiler plate code , this code means jo hum chaa rhe hai wahi mera code kam kare  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background Colors */
    --bg-primary-color: rgb(26, 26, 26);
    /* Text colors */
    --text-primary-color: rgb(243, 243, 243);
    /* spacing variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-xl: 32px;
    /* Border colors */
    --border-primary-color: rgb(100, 100, 100);
    /* Border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:16px;
    --border-radius-xl:32px;
    --border-radius-2xl:40px;

}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,
section {
    width: 100%;
    height: 100%;
}
section{
    padding: var(--space-md);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
} 